<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>logo</div>
        <ul>
            <li>Menu01</li>
            <li>Menu02</li>
            <li id="log-info" >login</li>
        </ul>
    </header>

    <script>
        const logInfo = document.getElementById("log-info")
        console.log(logInfo)


            if ( <%=user%> != "kit") {
                logInfo.innerText="login"
            }else{
                logInfo.innerText="logout"
            }


    </script>
</body>
</html>