<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>백엔드 수업</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="box">가나다라마바사</div>
    <img src="/static/img/bo.jpg" alt="기봉이입니다." width="500px">
</body>
</html>