body {
    margin: 0;
}
.container-1{
    position: relative;
    height: 500px;
    width: 500px;
    background-color: aqua;
}
/* relative */
.box {
    /* static 기본값 */
    /* position: static; */
    width: 100px;
    height: 100px;
}

.box-red {
    position: relative;
    top: 50px;
    left: 30px;
    background-color: red;
}

.box-orange {
    position: absolute;
    /* top: 20px; */
    bottom: 100px;
    /* left: 20px; */
    right: 30px;
    background-color: orange;
}

.box-yellow {
    position: absolute;
    background-color: yellow;
}

.sm-box{
    width: 50px;
    height: 50px;
}

.box-green {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: green;
}

.fixed {
    position: fixed;
    top: 100px;
    right: 100px;
    background-color: blue;
}

/*  */

.container{
    height: 200px;
    background-color: blue;
    position: relative;
    z-index: 999;
}
.item{
    position: absolute;
    width: 100px;
    height: 100px;
}
.red{
    background-color: red;
    z-index: 2;
}
.orange{
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: orange;
}
.yellow{
    top: 40px;
    left: 40px;
    background-color: yellow;
}


/*  */
.blue{
    position: relative;
    width: 500px;
    height: 500px;
    background-color: bisque;
}
.blue-box{
    z-index: 1;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.blue1{
    background-color: #1414c5;
    top: 20px;
    left: 20px;
}
.blue2{
    background-color: #2e2ec7;
    top: 80px;
    left: 80px;
}
.blue3{
    background-color: #4949c5;
    top: 100px;
    left: 140px;
}
.blue4{
    background-color: #7878c5;
    top: 90px;
    left: 200px;
}
.blue5{
    background-color: #9393ae;
    top: 80px;
    left: 280px;
    z-index: 5;
}
.eye1{
    background-color: #fff;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 10px;
}
.eye2{
    background-color: #000;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 4px;
}
.blue-green1{
    position: absolute;
    top: 40px;
    width: 240px;
    z-index: 2;
}
.blue-green1-1{
    position: absolute;
    top: 10px;
    left: 200px;
    width: 300px;
    z-index: 2;
}
.blue-green2{
    position: absolute;
    right: 10px;
    width: 190px;
}